#root {
  @apply bg-gray-100 font-sans;
  margin: 0 auto; /* 헤더 높이 수정 */
  max-width: 640px;
  min-width: 320px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
